In [1]:
import pandas as pd

In [2]:
telcom = pd.read_csv("datasets_13996_18858_WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [3]:
telcom.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
telcom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
telcom.shape

(7043, 21)

In [6]:
print("telcom rows:",telcom.shape[0])
print("telcom cols:",telcom.shape[1])
print("telcom cols list:",telcom.columns.tolist())
print("telcom missing vals:" ,telcom.isnull().sum().values.sum())
print("telcom unique:" ,telcom.nunique())

telcom rows: 7043
telcom cols: 21
telcom cols list: ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']
telcom missing vals: 0
telcom unique: customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [7]:
#Data Manipulation

telcom['TotalCharges'].str.isspace()

print(telcom['TotalCharges'].dtype)

object

In [8]:
telcom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [9]:
churn =telcom.groupby('Churn')
churn.mean()

       SeniorCitizen     tenure  MonthlyCharges
Churn
No          0.128721  37.569965       61.265124
Yes         0.254682  17.979133       74.441332

In [10]:
telcom.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [12]:
import matplotlib.pyplot as plt #visualization
plt.bar(telcom['SeniorCitizen'],telcom['Churn'])
plt.show()

In [ ]:
telcom[telcom['Churn'] =='' and telcom['gender'] =='Male']

In [ ]:
telcom[telcom['Churn'] =='Yes' and telcom['gender'] =='Male']

In [ ]:
len(telcom[(telcom['gender'] =='Male') & (telcom['Churn'] =='Yes')])

In [ ]:
telcom.isnull().sum()

In [ ]:
telcom.head()
telcom['PaymentMethod'].unique()
telcom.info()

In [ ]:
# Converting Total Charges to a numerical data type.

telcom.TotalCharges = pd.to_numeric(telcom.TotalCharges,errors='coerce')

In [ ]:
telcom.head()

In [ ]:
telcom.isnull().sum()

In [ ]:
len(telcom.TotalCharges.isnull())

In [ ]:
# Converting Total Charges to a numerical data type.

telcom[pd.isnull(telcom['TotalCharges'])]

In [ ]:
pd.isnull(telcom['TotalCharges'])

In [ ]:
#Removing missing values

telcom.dropna(inplace=True)

In [ ]:
#remove customer id

telcom = telcom.drop(['customerID'],axis=1)

In [ ]:
telcom.head()

In [ ]:
#Convertin the predictor variable in a binary numeric variable
telcom['Churn'].replace(to_replace='Yes', value=1, inplace=True)
telcom['Churn'].replace(to_replace='No', value=0, inplace=True)

In [ ]:
#Let's convert all the categorical variables into dummy variables

telcom_dummies = pd.get_dummies(telcom)

In [ ]:
telcom_dummies.head()

In [ ]:
#Get Correlation of "Churn" with other variables:
import matplotlib.pyplot as plt

plt.figure(figsize=(40,20))
telcom_dummies.corr()['Churn'].sort_values(ascending = False).plot(kind='bar')

In [ ]:
telcom_dummies.corr()['Churn'].sort_values(ascending = False)

In [ ]:
#Data Exploration

# Demographics -Let us first understand the gender, age range, patner and dependent status of the customers

#gender distribution

len(telcom[telcom['gender']=='Male'])/len(telcom)

In [ ]:
len(telcom[(telcom['gender']=='Male') & (telcom['Churn']==1)])

In [ ]:
plt.bar('gender','Churn',data=telcom,color='red')
plt.show()

In [ ]:
# Grouped bar plot with seaborn
import seaborn as sns
sns.barplot(y='Churn',x='SeniorCitizen',data=telcom);

In [ ]:
# Grouped bar plot with seaborn
import seaborn as sns
sns.barplot(y='Churn',x='gender',data=telcom);

In [ ]:
# Grouped bar plot with seaborn
import seaborn as sns
sns.barplot(y='Churn',x='Partner',data=telcom);

In [ ]:
# Grouped bar plot with seaborn
import seaborn as sns
sns.barplot(y='Churn',x='InternetService',data=telcom);

In [ ]:
# Grouped bar plot with seaborn
import seaborn as sns
sns.barplot(y='Churn',x='PaymentMethod',data=telcom);

In [ ]:
# Grouped bar plot with seaborn
import seaborn as sns
sns.barplot(y='Churn',x='PhoneService',data=telcom);

In [ ]:
telcom_dummies.head()

In [ ]:
# Grouped bar plot with seaborn
#B.) Customer Account Information:

In [ ]:
ax= sns.distplot(telcom['tenure'],hist=True, kde=False,bins= int(180/10))
ax.set_ylabel('# of Customers')
ax.set_xlabel('Tenure (months)')
ax.set_title('# of Customers by their tenure')

In [ ]:
# Grouped bar plot with seaborn
import seaborn as sns
sns.barplot(y='Churn',x='Contract',data=telcom);

In [ ]:
services = ['PhoneService','MultipleLines','InternetService','OnlineSecurity',
           'OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies']

fig, axes = plt.subplots(nrows = 3,ncols = 3,figsize = (15,12))
for i, item in enumerate(services):
    if i < 3:
        ax = telcom[item].value_counts().plot(kind = 'bar',ax=axes[i,0],rot = 0)
        
    elif i >=3 and i < 6:
        ax = telcom[item].value_counts().plot(kind = 'bar',ax=axes[i-3,1],rot = 0)
        
    elif i < 9:
        ax = telcom[item].value_counts().plot(kind = 'bar',ax=axes[i-6,2],rot = 0)
    ax.set_title(item)

In [ ]:
# Churn vs Tenure
sns.boxplot(x = telcom.Churn, y = telcom.tenure)

In [ ]:
#Churn by Contract Type

colors = ['#4D3425','#E4512B']

contract_churn = telcom.groupby(['Contract','Churn'])

In [ ]:
contract_churn.size().unstack()

In [ ]:
ax = sns.kdeplot(telcom.TotalCharges[(telcom["Churn"] == 'No') ],color="Red", shade = True)
ax = sns.kdeplot(telcom.TotalCharges[(telcom["Churn"] == 'Yes') ],
                ax =ax, color="Blue", shade= True)

ax.legend(["Not Churn","Churn"],loc='upper right')
ax.set_ylabel('Density')
ax.set_xlabel('Total Charges')
ax.set_title('Distribution of total charges by churn')

In [ ]:
#Data preparation

y = telcom_dummies.Churn

In [ ]:
X = telcom_dummies.drop(columns = ['Churn'])

In [ ]:
y

In [ ]:
# Scaling all the variables to a range of 0 to 1
from sklearn.preprocessing import MinMaxScaler

features = X.columns.values
scalar = MinMaxScaler(feature_range = (0,1))
scalar.fit(X)

In [ ]:
features

In [ ]:
X= pd.DataFrame(scalar.transform(X))
X.columns = features

In [ ]:
# Create Train & Test Data

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3, random_state=101)

In [ ]:
y_test

In [ ]:
# Running logistic regression model

from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
result = model.fit(X_train,y_train)

In [ ]:
from sklearn import metrics

pred = model.predict(X_test)

# Print the prediction accuracy
print(metrics.accuracy_score(y_test,pred))

In [ ]:
# To get the weights of all the variables
weights = pd.Series(model.coef_[0],
                 index=X.columns.values)
print (weights.sort_values(ascending = False)[:10].plot(kind='bar'))

In [ ]:
print(weights.sort_values(ascending = False)[-10:].plot(kind='bar'))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)
model_rf = RandomForestClassifier(n_estimators=1000 , oob_score = True, n_jobs = -1,
                                  random_state =50, max_features = "auto",
                                  max_leaf_nodes = 30)
model_rf.fit(X_train, y_train)

# Make predictions
prediction_test = model_rf.predict(X_test)
print (metrics.accuracy_score(y_test, prediction_test))

In [ ]:
importances = model_rf.feature_importances_
weights = pd.Series(importances,
                 index=X.columns.values)
weights.sort_values()[-10:].plot(kind = 'barh')

In [ ]:
from sklearn.svm import SVC

model.svm = SVC(kernel='linear') 
model.svm.fit(X_train,y_train)
preds = model.svm.predict(X_test)
metrics.accuracy_score(y_test, preds)

In [ ]:
# Create the Confusion matrix
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test,preds))

In [ ]:
ax1 = sns.catplot(x="gender", kind="count", hue="Churn", data=telcom,
                  estimator=lambda x: sum(x==0)*100.0/len(x))
#ax1.yaxis.set_major_formatter(mtick.PercentFormatter())

In [ ]:
# AdaBoost Algorithm
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier()
# n_estimators = 50 (default value) 
# base_estimator = DecisionTreeClassifier (default value)
model.fit(X_train,y_train)
preds = model.predict(X_test)
metrics.accuracy_score(y_test, preds)

In [ ]:
import xgboost as xgb
from sklearn.xgboost import XGBClassifier
model = XGBClassifier()
model.fit(X_train, y_train)
preds = model.predict(X_test)
metrics.accuracy_score(y_test, preds)